@charset "utf-8";
@import "./support/translationsaiwidget-variables.scss";

.yw-labelstyle
{
	color: $translationsai-label-text-color;
}

.translationsai-container {
	background: $translationsai-container-background;
	font-family: $translationsai-container-font-family;
	font-size: $translationsai-container-font-size;
}
