@charset "utf-8";
$translationsai-container-background: var(--bo-base-background);
$translationsai-container-font-family: var(--bo-font-family);
$translationsai-container-font-size: $font-size__base;
$translationsai-label-text-color: var(--bo-text-color);
